$Background-color: #121212;
$Text-color: #fff;
$Accent-color: red;
$Secondary-color: #ababab;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: $Background-color;
    background-color: $Background-color;
    font-family: 'Fira Code', monospace;
    color: $Text-color;
}

.nav_bar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: $Background-color;
}

.nav_bar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-start ;
}

.nav_bar ul li{
    margin: 0 0 0 1rem;
    padding: 1rem;
}

h1,h2,h3{
    font-weight: 400;
    &.lg_heading {
        font-size: 3.3rem;
    }
    &.sm_heading {
        margin-bottom: 1rem;
    }
}

.text_secondary {
    color: $Accent-color;
}

a {
    color: $Text-color;
    text-decoration: none;
    &:hover {
        color:$Accent-color;
        @include easeOut();
    }
}

.certifcate_list{
    margin-top: 10rem;
    margin-left: 6rem;
    font-size: 1.8rem;

}

.sub_list{
    margin-left: 6rem;
    font-size: 1.3rem;
}